<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
        <title>My Page</title>
		<meta name="Identifier-URL" content="http://XXXX/<%= @filename %>">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <meta name="Author" lang="en" content="<%= @username %>">
		<meta name="Description" content="">
		<meta name="Keywords" lang="en" content="">
		<link rel="stylesheet" type="text/css" href="">
    </head>
    <body>
    </body>
</html>
